@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-dark: #0b0014;
  --panel: #140021;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  background: linear-gradient(to bottom, var(--bg-dark), var(--panel));
  color: white;
  min-height: 100vh;
  overflow-x: hidden;
}

button {
  transition: all 0.2s ease;
}

button:hover {
  opacity: 0.9;
}
